<div class="services">
  {% if site.services != blank %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign services = site.services | reverse %}
        {% for item in services %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.semester }}</th>
            <td>
              {{ item.role }} of <a href="{{ item.course_url }}" class="bold-link">{{ item.course }} @ {{ item.school }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No services so far...</p>
  {% endif %}
</div>
